.card {
	background: #ffec59;
	border-radius: 2px;
	display: grid;
	height: auto;
	padding: 0.5rem;
	margin: 1rem;
	position: relative;
	box-sizing: border-box;
	width: calc(100% - 2rem);
	transition: 0.3s ease-in-out box-shadow;
	grid-template-columns: repeat(1, 202px);
	grid-template-rows: 25px auto 30px;
	cursor: pointer;

	&.shadow {
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23);

		&:hover {
			box-shadow: 0 1px 13px rgba(0, 0, 0, 0.25), 0 3px 16px rgba(0, 0, 0, 0.22);
		}
	}

	.heading {
		margin: 0;
	}

	.content {
		margin: 0 0 1rem;
		word-break: break-all;
		max-height: 148px;
		overflow: auto;
	}

	.button-outlined {
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		border: 1px solid #222;
		font-size: 11px;
		max-width: 115px;
		margin-left: auto;
		text-transform: uppercase;
		background-color: transparent;
		overflow: hidden;
		outline: none;
		cursor: pointer;

		img {
			height: 20px;
		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: 0;
			transition: opacity 0.2s;
		}

		&::after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			border-radius: 50%;
			padding: 50%;
			width: 32px;
			height: 32px;
			background-color: red;
			opacity: 0;
			transform: translate(-50%, -50%) scale(1);
			transition: opacity 1s, transform 0.5s;
		}

		&:active::after {
			opacity: 0.16;
			transform: translate(-50%, -50%) scale(0);
			transition: transform 0s;
		}
	}
}
