<article class="card shadow custom-title"
         aria-label="Load this note"
         (click)="setSelectedText(textContent)">
  <h3 class="heading">{{textContent.length > 10 ? textContent.substring(0, 10) + '...' : textContent}}</h3>

  <p class="content" [innerHTML]="textContent"></p>

  <button class="button-outlined"
          fxLayout="row"
          fxLayoutAlign="center center"
          fxLayoutGap="0.5rem">
    <img class="remove"
         alt="remove"
         src="assets/img/svg/delete.svg"/>

    <strong>REMOVE</strong>
  </button>
</article>
