<article class="card shadow custom-title" aria-label="Load this note">
  <h3 class="heading" (click)="setSelectedText(textContent)">
    {{ textContent.length > 20 ? textContent.substring(0, 20) + '...' : textContent }}
  </h3>

  <p class="content" (click)="setSelectedText(textContent)" [innerHTML]="textContent"></p>

  <section fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="0.5rem">
    <p class="timestamp-element" [innerHTML]="timestamp | date: 'dd-MM-yyyy / hh:mm:ss'"></p>

    <button class="button-outlined" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem" (click)="removeText(textContent)">
      <img class="remove" alt="remove" src="assets/img/svg/delete.svg?v1.0.1" />

      <strong>REMOVE</strong>
    </button>
  </section>
</article>
