:host {
	position: absolute;
	left: -50px;
	top: 50%;
	margin-top: -25px;

	.right-panel-opener {
		transition: ease-in-out opacity 0.3s;
		background-color: transparent;
		border: 0;
		cursor: pointer;
		opacity: 0.4;

		.icon-arrow-back {
			width: 2rem;
			height: 3rem;
			background-image: url('/assets/img/svg/arrow-back.svg');
			background-size: cover;
		}

		&:hover {
			opacity: 1;
		}
	}
}
