@import url('tailwindcss/base');
@import url('tailwindcss/components');
@import url('tailwindcss/utilities');
@import url('assets/scss/mixins.scss');
@import url('assets/scss/media-queries.scss');
@import url('assets/scss/animations.scss');
@import url('assets/scss/dark-mode.scss');

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100vh;

  @supports (-webkit-touch-callout: none) {
    height: 100dvh;
  }
}

::selection {
  color: #333;
  background: #ffec59;
}

.icon {
  width: 3em;
  height: 3em;
}

.custom-title {
  position: relative;

  &:hover {
    &::after {
      display: initial;
    }
  }

  &::after {
    display: none;
    content: attr(aria-label);
    position: absolute;
    margin-top: 0.25rem;
    top: -10%;
    right: 22%;
    z-index: 1;
    padding: 0.2rem 0.7rem;
    background: #222;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 35%);
    color: #fcec59;
    font-size: 10px;
    white-space: nowrap;
    pointer-events: none;
    transform: translateX(50%);
  }

  &.top::after {
    top: -100%;
    right: 50%;
  }
}
